<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>About</title>
    <link href="{% static 'css\style.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    <h1>
        <img src="{% static 'img\logo2.png' %}" alt="logo" id="linkpic">
        <ul>
            <li><a href="/mainpage">Home</a></li>
            <li><a href="/personal">Personal Page</a></li>
            <li style="float:right"><a class="active" href="/about">About</a></li>
        </ul>
    </h1>
    <h1>ABOUT THIS WEBSITE<br>NOTHING<br>哎呀 我的眼睛業障種

    </h1>


</body>