<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>About</title>
    <link href="..\static\css\style.css" rel="stylesheet" type="text/css" />
    <!--忘了怎加圖片連結了-->
</head>

<body>
    <h1>
        <img src="../source/picture/logo2.png" alt="logo" id="linkpic">
        <ul>
            <li><a href="cpleepage.html">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
    </h1>>
    <h1>ABOUT THIS WEBSITE<br>NOTHING

    </h1>


</body>