<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2網頁排版測試中</title>
    <link href="..\static\css\style.css" rel="stylesheet" type="text/css" />
    <!--忘了怎加圖片連結了-->
</head>

<body>
    <h1>
        <a href="cpleepage.html">
            <img src="C:\Users\USER\csx2018cplee\source\picture\logo2.png" alt="logo" id="linkpic">
        </a>

        <ul>
            <li><a href="cpleepage.html">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </h1>>
    <h1>Hi大家，這是第二週的陽春範例。
        <span id="ps" font-size:200%>改!</span>
    </h1>
    <h2>第二週需要學的是html跟css基礎<br> 網路上有很多教學，也有很多模板～
        <br> 大家加油！
        <br><span id="ta">好喔感恩我盡量QQ</span>
    </h2>
    <div id="container">
        <div id="content">
            {% for name in names %}
            <div class="msg">
                <span class="name">Pecu
                    <img src="../source/picture/頭像A.png">
                <!--還不是很懂CSS的input,class的那是啥用R-->
                <!--頭像要怎排版要再思考= =-->
                </span> Hello,Class!
            </div>
            {% endfor %}
            <div class="msg">
                <span class="name">Michael</span>
                <span>
                <img src="../source/picture/頭像B.png"></span> Hello,Pecu.
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>Ps:格子是假的，無法輸入ＸＤ</span>
        </div>
    </div>
</body>