<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week?網頁排版測試中</title>
    <link href="..\static\css\style.css" rel="stylesheet" type="text/css" />
    <!--忘了怎加圖片連結了-->
</head>

<body>
    <h1>
        <a href="/mainpage">
            <img src="../static/img/logo2.png" alt="logo" id="linkpic">
        </a>

        <ul>
            <li><a href="/mainpage">Home</a></li>
            <li><a href="category">Category</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li style="float:right"><a class="active" href="about.html">About</a></li>
        </ul>
    </h1>
    <h1>Hi大家，這是第N週的陽春範例。
        <span id="ps">改造版!</span>
    </h1>
    <!--
    <h2>第二週需要學的是html跟css基礎<br> 網路上有很多教學，也有很多模板～
        <br> 大家加油！
        好喔感恩我盡量QQ
    </h2>
    -->
    <div id="container">
        <div id="content">
            {% for msg in msgs %}
            <div class='msg'>
                <span class="name">{{msg.speaker}}</span> {{msg.message}}
            </div>
            {% endfor %}
            <!--
            {% for name in names %}
            <div class="msg">
                <img src="../static/img/頭像A.png" class="avatar">
                <span class="name">
                    {{ name }}
                    
               
                </span> {{ fulltext }}
            </div>
            {% endfor %}
            -->
            <div class="msg">
                <img src="../static/img/頭像B.png" class="avatar">
                <span class="name">
                    Michael
                </span> 你好
            </div>
        </div>
        <div id="send-box">
            <form id="send-form" action="." method="POST">{% csrf_token %}
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
        </div>
    </div>
</body>